

body {
    background-color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .form{
    background-color: white;
    width: 1000px;
    padding: 20px;
    border-radius: 30px;
    overflow-y: scroll;
  }