<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <title>Application Form</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>

    <body>
        <section class="form">
            <h1>Application Form</h1>
            <form action="#" method="post">
                <!-- Sequential number for the applicant (to be used as a key),"1-50000, 50001-70000, 70001-90000" -->
                <h3>Client ID</h3>
                <input type="number" name="client_id">
    
                <h3>Clerk type</h3>
                <input type="text" name="clerk_type">
    
                <!--Day of the month for bill payment, chosen by the applicant-->
                <h3>Payment Day</h3>
                <input type="number" name="pay_day" min="1" max="30" oninput="checkNumber()">
    
                <!--Indicates if the application was submitted via the internet or in person/posted,"Web, Carga"--> 
                <h3>Application Submition Type</h3>
                <input type="radio" name="submition_type" value="Carga" onclick="checkOptions()">
                <label for="Carga">Carga</label>
                <input type="radio" name="submition_type" value="Web" onclick="checkOptions()">
                <label for="Web">Web</label>
                <script src="app.js"></script>
    
                <!--Quantity of additional cards asked for in the same application form,"1,2,NULL"-->
                <h3>Number of Additional Cards</h3>
                <input type="number" name="additional_cards" min="1" max="30" oninput="checkNumber()">
                <!--Indicates if the address for posting is the home address or other. Encoding not informed.,1.2-->
                <h3>Postal Address Type</h3>
                <input type="number" name="postal_address_type">
    
                <!--"M=Male, F=Female"-->
                <h3>Sex</h3>
                <input type="radio" name="sex" value="F" onclick="checkOptions()">
                <label for="F">Female</label>
                <input type="radio" name="sex" value="M" onclick="checkOptions()">
                <label for="M">Male</label>
                <script src="app.js"></script>
                
                <h3>Marital Status</h3>
                <input type="radio" name="marital_status" value="single" onclick="checkOptions()">
                <label for="single">Single</label>
                <input type="radio" name="marital_status" value="married" onclick="checkOptions()">
                <label for="married">Married</label>
                <input type="radio" name="marital_status" value="divorced" onclick="checkOptions()">
                <label for="divorced">Divorced</label>
                <input type="radio" name="marital_status" value="widowed" onclick="checkOptions()">
                <label for="widowed">Widowed</label>
                <script src="app.js"></script>
    
                <h3>Quantity of Dependants</h3>
                <input type="number" name="quant_depend" min="1" max="30" oninput="checkNumber()">
    
                <h3>Educational Level</h3>
                <input type="radio" name="edu_level" value="none" onclick="checkOptions()">
                <label for="none">None</label>
                <input type="radio" name="edu_level" value="highschool" onclick="checkOptions()">
                <label for="highschool">Highschool</label>            
                <input type="radio" name="edu_level" value="higher" onclick="checkOptions()">
                <label for="higher">Higher education</label>
                <script src="app.js"></script>
    
                <!--Brazilian states, XX, missing-->
                <h3>State of Birth</h3>
                <input type="text" name="birth_state">
    
                <h3>City of Birth</h3>
                <input type="text" name="birth_city">
    
                <h3>Nationality</h3>
                <input type="text" name="nationality">
    
                <h3>Residential State</h3>
                <input type="text" name="residential_state">
    
                <h3>Residential City</h3>
                <input type="text" name="residential_city">
    
                <h3>Residential Borough</h3>
                <input type="text" name="residential_borough">
    
                <!--Indicates if the applicant possesses a home phone,"Y,N"-->
                <h3>Flag Residential Phone</h3>
                <input type="radio" name="res_phone" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="res_phone" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!--Three-digit pseudo-code-->
                <h3>Residential phone area code</h3>
                <input type="text" name="res_phone_area">
    
                <!--Encoding not informed. In general, there are the types: owned, mortgage, 
                    rented, parents, family etc."1,2,3,4,5,NULL"-->
                <h3>Residence type</h3>
                <input type="text" name="res_type">
    
                <!-- MONTHS IN RESIDENCE: Time in the current residence in months -->
                <h3>Months in Residence</h3>
                <input type="number" name="months_in_res" min="1" max="1200" oninput="checkNumber()">
    
                <!-- FLAG MOBILE PHONE: Indicates if the applicant possesses a mobile phone -->
                <h3>Flag Mobile Phone</h3>
                <input type="radio"  name="phone" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio"  name="phone" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG EMAIL: Indicates if the applicant possesses an e-mail address -->
                <h3>Flag Email</h3>
                <input type="radio"  name="email" value="N" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio"  name="email" value="Y" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- PERSONAL MONTHLY INCOME: Applicant's personal regular monthly income in Brazilian currency (R$) -->
                <h3>Personal Monthly Income</h3>
                <input type="number" name="per_month_income" min="0" oninput="checkNumber()">
    
                <!-- OTHER INCOMES: Applicant's other incomes monthly averaged in Brazilian currency (R$) -->
                <h3>Other Incomes</h3>
                <input type="number" name="other_income" min="0" oninput="checkNumber()">
    
                <!-- FLAG VISA: Flag indicating if the applicant is a VISA credit card holder -->
                <h3>Flag Visa</h3>
                <input type="radio" name="visa" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="visa" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG MASTERCARD: Flag indicating if the applicant is a MASTERCARD credit card holder -->
                <h3>Flag Mastercard</h3>
                <input type="radio" name="master" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="master" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG DINERS: Flag indicating if the applicant is a SINERS credit card holder -->
                <h3>Flag Diners</h3>
                <input type="radio" name="diners" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="diners" value="N" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <script src="app.js"></script>
    
                <!-- FLAG AMERICAN EXPRESS: Flag indicating if the applicant is an AMERICAN EXPRESS credit card holder -->
                <h3>Flag American Express</h3>
                <input type="radio" name="am" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="am" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG OTHER CARDS: Despite being label "FLAG", this field presents three values not explained -->
                <h3>Flag Other Cards</h3>
                <input type="radio" name="other_cards" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="other_cards" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- QUANT BANKING ACCOUNTS:  -->
                <h3>Number of Banking Accounts</h3>
                <input type="number" name="num_bank_acc" min="0" max="999" oninput="checkNumber()">
    
                <!-- QUANT SPECIAL BANKING ACCOUNTS:  -->
                <h3>Number of Special Banking Accounts</h3>
                <input type="number" name="num_special_bank_acc" min="0" max="999" oninput="checkNumber()">
    
                <!-- PERSONAL ASSETS VALUE: Total value of the personal possessions such as houses, cars etc. in Brazilian currency (R$). -->
                <h3>Personal Assets Value</h3>
                <input type="number" name="per_asssets_value" min="0" oninput="checkNumber()">
    
                <!-- QUANT CARS: Quantity of cars the applicant possesses -->
                <h3>Number of Cars</h3>
                <input type="number" name="num_cars" min="0" max="999" oninput="checkNumber()">
    
                <!-- COMPANY: If the applicant has supplied the name of the company where he/she formally works -->
                <h3>Company</h3>
                <input type="radio" name="company" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="company" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- PROFESSIONAL STATE: State where the applicant works -->
                <h3>Professional State</h3>
                <input type="text" name="prof_state">
    
                <!-- PROFESSIONAL CITY: City where the applicant works -->
                <h3>Professional City</h3>
                <input type="text" name="prof_city">
    
                <!-- PROFESSIONAL BOROUGH: Borough where the applicant works -->
                <h3>Professional Borough</h3>
                <input type="text" name="prof_borough">
    
                <!-- FLAG PROFESSIONAL PHONE: Indicates if the professional phone number was supplied -->
                <h3>Flag Professional Phone</h3>
                <input type="radio" name="prof_phone" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="prof_phone" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- PROFESSIONAL PHONE AREA CODE: Three-digit pseudo-code -->
                <h3>Professional Phone Area Code</h3>
                <input type="text" name="prof_phone_area">
    
                <!-- MONTHS IN THE JOB: Time in the current job in months -->
                <h3>Months in the Job</h3>
                <input type="number" name="job_month" min="1" max="999" oninput="checkNumber()">
    
                <!-- PROFESSION CODE: Applicant's profession code. Encoding not informed -->
                <h3>Profession Code</h3>
                <input type="text" name="prof_code">
    
                <!-- OCCUPATION TYPE: Encoding not informed -->
                <h3>Occupation Type</h3>
                <input type="text" name="occupation">
    
                <!-- MATE PROFESSION CODE: Mate's profession code. Encoding not informed -->
                <h3>Mate Profession Code</h3>
                <input type="text" name="mate_prof">
    
                <!-- EDUCATION LEVEL: Mate's educational level in gradual order not informed -->
                <h3>Education Level</h3>
                <input type="radio" name="mate_edu_level" value="none" onclick="checkOptions()">
                <label for="none">None</label>
                <input type="radio" name="mate_edu_level" value="highschool" onclick="checkOptions()">
                <label for="highschool">Highschool</label>
                <input type="radio" name="mate_edu_level" value="higher" onclick="checkOptions()">
                <label for="higher">Higher education</label>
                <script src="app.js"></script>
    
                <!-- FLAG HOME ADDRESS DOCUMENT: Flag indicating documental confirmation of home address -->
                <h3>Flag Home Address Document</h3>
                <input type="radio" name="address" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="address" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG RG: Flag indicating documental confirmation of citizen card number -->
                <h3>Flag RG</h3>
                <input type="radio" name="rg" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="rg" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG CPF: Flag indicating documental confirmation of tax payer status -->
                <h3>Flag CPF</h3>
                <input type="radio" name="cpf" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="cpf" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- FLAG INCOME PROOF: Flag indicating documental confirmation of income -->
                <h3>Flag Income Proof</h3>
                <input type="radio" name="income" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="income" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- PRODUCT: Type of credit product applied. Encoding not informed -->
                <h3>Product</h3>
                <input type="radio" name="product" value="1" onclick="checkOptions()">
                <label for="product_1">Product 1</label>
                <script src="app.js"></script>
    
                <!-- FLAG ACSP RECORD: Flag indicating if the applicant has any previous credit delinquency -->
                <h3>Flag ACSP Record</h3>
                <input type="radio" name="acsp" value="Y" onclick="checkOptions()">
                <label for="yes">Yes</label>
                <input type="radio" name="acsp" value="N" onclick="checkOptions()">
                <label for="no">No</label>
                <script src="app.js"></script>
    
                <!-- AGE: Applicant's age at the moment of submission -->
                <h3>Age</h3>
                <input type="number" name="age" min="18" max="100" oninput="checkNumber()">
    
                <!-- RESIDENCIAL ZIP 3: Three most significant digits of the actual home zip code -->
                <h3>Residencial Zip 3</h3>
                <input type="number" name="res_zip_3" min="000" max="999" oninput="checkNumber()">
    
                <!-- PROFESSIONAL ZIP 3: Three most significant digits of the actual job zip code -->
                <h3>Professional Zip 3</h3>
                <input type="number" name="prof_zip_3" min="000" max="999" oninput="checkNumber()">
                <br><br>
                <input type="submit" value="Verify"/>
            </form>
            {% block content %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}
        </section>
    </body>
</html>